
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
  background: url("https://motionarray.imgix.net/preview-197716-p5SX7bomar-high_0014.jpg") no-repeat center center fixed;
  background-size: cover;
  color: black;
  font-family: 'Lato', sans-serif;
  padding: .45em 2.65em 3em;
  line-height: 1.5;
}
h1 {
  margin-bottom: 0;
  color: orangered;
}
h1 + p {
  font-size: 1.08em;
  color: white;
  margin-top: .5em;
  margin-bottom: 1.65em;
  padding-bottom: 2em;
  border-bottom: 1px dotted;
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: .45em .5em;
  margin-bottom: .35em;
  display: flex;
  align-items: center;
}
input,
button {
  font-size: .80em;
  padding: .65em 1em;
  border-radius: .3em;
  outline: 0;
}
input {
  border: 1px solid #dcdcdc;
  margin-right: 1em;
}
div {
  margin-top: 1.8em;
  padding: 1.5em 0 .5em;
  border-top: 1px dotted white;
}

/* Buttons */

button {
  color: red;
  background: red;
  border: solid 0px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}
button + button {
  margin-left: .5em;
  margin-top: 0.6em;
  position: auto;
}

button {
  font-style: imgix;
  font-size: bold;
  color: white;
  background: transparent;
  border: solid 1px grey;
}

/*Footer start*/

footer h2 {
 font-size: 1rem;
    font-style: normal; 
    color: superwhite(248, 246, 246, 0.479);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
    color: white;
    background-color: rgba(56, 55, 55, 0.007);
    text-align: center;
}

/*Footer end*/

p + p {
  color: black;
  position: bottom;
  margin-top: 0;
  margin-bottom: 2pt;
  text-align: left;


}
